<!--Acts as the shared layout for the site. Uses bootstrap to style, and renders the body in the RenderBody() tag-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body style="overflow-x:hidden;">
    <header>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">Online Books</div>
                    <div class="col-6 text-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="row text-center mt-xl-5 mb-2">
        <div class="col-1"></div>

        <div class="text-center text-dark col-3">
            <h1>Online Book Store</h1>

            <!--Adds in the ViewComponent-->
            <vc:navigation-menu />
        </div>
        <div class="col-7">
            @RenderBody()
        </div>

        <div class="col-1"> </div>
    </div>
    


    <footer class="text-center footer bg-dark text-light p-4">Cameron Keetch &#169 2021</footer>
</body>
</html>
