@{
    ViewBag.Title = "Book Store";
}

<!--Calls the model-->
@model BookListViewModel



<!--Uses a table to style the data returned from the database in a nice style, also uses bootstrap. New bootstrap commands include btn-group, navbar-brand, table-hover and table-striped-->
<div class="text-center">
    <h4 class="mb-2 text-dark">Here is a list of books that we currently have for sale:</h4>
   
    
       
    @foreach (var x in Model.Books)
    {   
            <partial name="BookSummary" model="x" />    
    }



    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
                                       page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark" page-url-category="@Model.CurrentCategory"
                                        class="text-center btn-group pull-right m-1"></div>

    <!--Showing group-->

</div>
